[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = http://git.drupal.org/project/ctools.git
	branch = 7.x-1.x
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = http://git.drupal.org/project/views.git
	branch = 7.x-3.x
[submodule "sites/all/modules/jquery_update"]
	path = sites/all/modules/jquery_update
	url = http://git.drupal.org/project/jquery_update.git
	branch = 7.x-2.x
[submodule "sites/all/themes/bootstrap"]
	path = sites/all/themes/bootstrap
	url = http://git.drupal.org/project/bootstrap.git
	branch = 7.x-3.x
